# Vercel KV Database (automatically set by Vercel)
# KV_REST_API_URL=your_kv_url_here
# KV_REST_API_TOKEN=your_kv_token_here

# Vercel Edge Config (automatically set by Vercel)
EDGE_CONFIG=ecfg_vi2fstwdbixxl9xn7wgxnhlkrg75

# Vercel Blob Storage (automatically set by Vercel)
BLOB_READ_WRITE_TOKEN="vercel_blob_rw_vL4nGywIycrbUx5C_aYkAV53EZofRQfQjwUR3L6vDJHj5BY"

# For local development, leave these empty and the app will use in-memory storage
